# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Envs
.venv/
venv/



# Tools / caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Editors
.vscode/
.idea/

# Docker
*.log

# UV lock (will be generated locally)
uv.lock
